{% extends "layout.html" %}
{% block description %}
Where did you go last time? Share your travel experience and add new post!
{% endblock %}
{% block title %}
Travel Blog Flask - Add New Post
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="pb-2 page-header">Add Post</h1>
    <form action="/add-post" method="POST" enctype="multipart/form-data">
        {{ addPostForm.hidden_tag() }}

        <div class="form-group py-2">
            <label for="title">{{ addPostForm.title.label }}</label>
            {{ addPostForm.title(class_='form-control') }}
        </div>
        {% for error in addPostForm.title.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        <div class="form-group py-2">
            <label for="author">{{ addPostForm.author.label }}</label>
            {{ addPostForm.author(class_='form-control') }}
        </div>
        {% for error in addPostForm.author.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
        <div class="form-group py-2">
            <label for="content">{{ addPostForm.content.label }}</label>
            {{ addPostForm.content(class_='form-control content-area')}}
        </div>
        <div class="form-group py-2">
            {{ addPostForm.images.label }} {{ addPostForm.images(class_="form-control") }}
            {% for error in addPostForm.images.errors %}
            <span class="error">{{ error }}</span>
            {% endfor %}
            <button class="main-btn mt-2 prevent-submit p-2" type="submit" name="upload">Upload</button>
        </div>

        <div class="form-group py-2">
            {% if fileUrl %}
            <div>
                <img src={{ fileUrl }} class="uploaded-img">
            </div>
            {% endif %}
        </div>
        <div class="form-group py-2">
            <label for="hashtag">Hashtags:</label>
            <input class="form-control" type="text" id="hashtag-input" name="hashtag">
            <div class="d-flex flex-row flex-wrap hashtags-container">
            </div>
        </div>
        <button type="submit" name="add" class="main-btn prevent-submit p-2">Add</button>
    </form>
</div>
{% endblock %}