{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div>
    <img src="{{ url_for('static', filename='images/pexels-jarod-barton.jpg')}}" class="main-image"
        alt="venezia-landscape">
</div>
<div class="d-flex content-div">
    <div class="half cropped">
        <img src="{{ url_for('static', filename='images/pexels-tranmautritam.jpg')}}" class="sub-image main-image"
            alt="girl with suitcase">
    </div>
    <div class="half second d-flex flex-column justify-content-center">
        <h1>WELCOME TO <br /> 360 <span>&#176;</span> TRAVEL <br /> INSPIRATIONS</h1>
        <p class="mt-5">You're travel lover? It's perfect place for you! This blog is about my travel experiences and
            tips. Do you
            want to join this trip?</p>
        {% if session.user %}
        <button class="p-3 mt-5 main-btn">
            <a class="main-href" href="{{ url_for('site.myPosts') }}">Expole the Blog</a>
        </button>
        {% else %}
        <button class="p-3 mt-5 main-btn">
            <a class="main-href" href="{{ url_for('site.login') }}">Expole the Blog</a>
        </button>
        {% endif %}
    </div>
</div>

{% endblock %}