{% extends "layout.html" %}
{% block description %}
Welcome back! Login to your Travel Blog Flask account and add new travel inspitation.
{% endblock %}
{% block title %}
Travel Blog Flask - Login Page
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="pb-2 page-header">Login</h1>
    <form action="/login" method="POST">
        <div class="form-group py-2">
            <label for="email">Email:</label>
            <input class="form-control" type="text" name="email">
        </div>
        <div class="form-group py-2">
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password">
        </div>
        <button type="submit" name="login" class="main-btn p-2">Login</button>
    </form>
</div>
{% endblock %}